body {
	color: white;
	text-align: justify;
}



img {
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-75%;
	margin-top:-50%;
	width: 150%;
	
}

.frame {
	position: relative;
	height: 180px;
	width: 180px;
	border-radius: 50%;
	overflow: hidden;
	display: block;
}

.Economics{
	visibility: hidden;
}