body {
	color: white;
	text-align: justify;
}

img {
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-75%;
	margin-top:-50%;
	width: 150%;

}

.container-fluid {
	margin-bottom: 4px;
}

.frame {
	position: relative;
	height: 180px;
	width: 180px;
	border-radius: 50%;
	overflow: hidden;
	display: block;
	margin-bottom: 20px;
	margin-left: 120px;
}

.Tennis {
	left:50%;
	top:50%;
	margin-left:-65%;
	margin-top:-50%;
	width: 150%;
}

.Martial-Arts {
	left:50%;
	top:50%;
	margin-left:-95%;
	margin-top:-50%;
	width: 150%;
}

.WoodWorking {
	left:50%;
	top:50%;
	margin-left:-75%;
	margin-top:-50%;
	width: 150%;
}

.Learning-Languages {
	left:50%;
	top:50%;
	margin-left:-76%;
	margin-top:-50%;
	width: 150%;
}

.Cooking {
	left:50%;
	top:50%;
	margin-left:-85%;
	margin-top:-50%;
	width: 180%;
}

.Card-Games {
	left:50%;
	top:50%;
	margin-left:-85%;
	margin-top:-50%;
	width: 150%;
}

.Playing-Guitar {
	left:50%;
	top:50%;
	margin-left:-85%;
	margin-top:-50%;
	width: 180%;	
}

.Go {
	left:50%;
	top:50%;
	margin-left:-93%;
	margin-top:-81%;
	width: 220%;
}

.Teaching{
	left:60%;
	top:60%;
	margin-left:-65%;
	margin-top:-75%;
	width: 110%;		
}

.Research{
	left:60%;
	top:60%;
	margin-left:-63%;
	margin-top:-84%;
	width: 110%;	
}

.Startups {
	left:50%;
	top:50%;
	margin-left:-90%;
	margin-top:-65%;
	width: 182%;
}

.Design{
	left:60%;
	top:60%;
	margin-left:-63%;
	margin-top:-80%;
	width: 107%;	
}

.Machine-Learning {
	left:50%;
	top:50%;
	margin-left:-75%;
	margin-top:-55%;
	width: 150%;
}

.CyberSecurity {
	left:50%;
	top:50%;
	margin-left:-80%;
	margin-top:-50%;
	width: 160%;
}

.Economics{
	left:60%;
	top:60%;
	margin-left:-60%;
	margin-top:-90%;
	width: 100%;		
}

.Healthcare {
	left:50%;
	top:50%;
	margin-left:-57%;
	margin-top:-65%;
	width: 115%;
}