
#codes {
	margin: 10px;
	width: 100px;
	height: 100px;
	visibility: visible !important;
}

#spread {
	padding-bottom: 35px;
	font-size: 60px;
}

#othrPush {
	margin-bottom: 10%;
}

#wide {
	width: 200px;
}

#check {
	display: inline;
}

#desc {
	color: orange;	
}

a {
	color: white;
	text-decoration: none !important;
}

#forward:hover {
	color: orange;
}

#forward {
	font-size: 30px;
}

#forward:visited {
	color: red;
}

.work {
	font-size: 25px;
}