#codes {
	margin: 10px;
	width: 100px;
	height: 100px;
	visibility: visible !important;
}

#spread {
	padding-bottom: 10px;
}

#othrPush {
	margin-bottom: 20px;
}

#wide {
	width: 200px;
}

#check {
	display: inline;
}

a {
	color: white;
	text-decoration: none !important;
}

a:hover {
	color: orange;
}

a:visited {
    color: red;
}