@import url(https://fonts.googleapis.com/css?family=Vollkorn);
@import url(https://fonts.googleapis.com/css?family=Lato:300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css); 

h1 {
	font-family: Vollkorn, 'Helvetica Neue', Helvetica, sans-serif !important;
	color: orange;
}

body {
	font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif; 
	background-color: #181C22 !important;
}
#links {
	margin-right: 10px;
	font-variant: small-caps;
	text-decoration: none;
}

#link {
	margin-left: 10px;
}
nav {
	position: fixed;
	background-color: #181C22;
	width: 100%;
	z-index: 1;
	padding-top: 15px;
	padding-bottom: 15px;

}

#headText {
	color: white;
}

header {
	border-bottom:1px solid #e3e3e3;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 1px;
	background-size: cover;
	background-color: black;
}

 i {
 	color: white;
 }
.footer .push{
	height: 80px;
	position:fixed;
	bottom:10px;
	width:100%;
	left:0px;
	text-align:center;
	padding:10px;
	margin: 0 auto;
}

#vidDiv{
  padding:0;
  margin:0;
}

.vid-container{
  position:relative;
  height:50vh;
  overflow:hidden;
}

.bgvid{
  position:absolute;
  width:50vw;
}

.inner-container{
  width:200px;
  height:200px;
  position:absolute;
  top:calc(50vh - 200px);
  left:calc(50vw - 200px);
  overflow:hidden;
}

#hyLinks {
	color: white;
	text-decoration: none;
}

#hyLinks:hover {
	color: orange;
}

#hyLinks:visited {
    color: red;
}