
<body>
	<div class="container-fluid">
		<h1>At a Glance</h1>
		<p ng-repeat="a in intro">{{a.Opening}}</p>
	</div>
	<div class="container-fluid">
		<h1>Hobbies</h1>
		<div ng-repeat="hobby in hobbies">		    	
	    	<div class="col-lg-3 col-md-4 col-xs-6">
		    	<div class="row">
		    		<div class="frame">
		    			<img ng-src="{{hobby.Image}}" ng-class="hobby.Hobby">
		    		</div>
		    		<!--<p align="center">{{hobby.Hobby}}</p>-->
		    	</div>
			</div>
		</div>
	</div>
	<div id="push" class="container-fluid">
		<h1>Interests</h1>
		<div ng-repeat="interest in interests">		    	
	    	<div class="col-lg-3 col-md-4 col-xs-6">
		    	<div class="row">
		    		<div class="frame">
		    			<img ng-src="{{interest.Link}}" ng-class="interest.Interest">
		    		</div>
		    		<!--<p align="center">{{interest.Interest}}</p>-->
		    	</div>
			</div>
		</div>
	</div>
</body>